<!-- search page logo -->
<div id="logo" class="text-center my-3 h-25">
    <img src="assets/images/logo.png" class="img-responsive" alt="GOVIE Logo">
</div>

<!-- search form -->
<div class="mx-auto w-50">
    <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
        <input class="form-control" type="search" aria-label="Search" name="title" ngModel required>
        <div class="text-center my-3">
            <button mat-raised-button color="accent" type="submit" class="mx-4 my-2">Search</button>
            <button mat-raised-button color="accent" class="mx-4 my-2">More Options</button>
        </div>
    </form>
</div>



